.nav{
    height: 4rem;
}

.texto-link{
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid transparent;
}

.rede-social{
    width: 31px;
    height: 31px;
}

#carouselExampleFade{
    width: 600px;
    height: 300px;
}

.jumbotron{
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-color:#f9b176;
    color: #393a3c;
}

.languages-icon{
    width: 30px;
    height: 27px;
}

.menu-buttons{
    background-color: #dc3545;
    border-style: none;
}
.menu-buttons:hover{
    background-color: #f15429;
    /* border-style: groove; */
    /* border: 1px groove #ffffff; */
    /* border-color: black; */
    border-color: #dae0e5;
}

#p-language{
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
}