.nav{
    height: 4.6rem;
}

.texto-link{
    font-size: 1.2rem;
    border: 1px solid transparent;
}

.rede-social{
    width: 31px;
    height: 31px;
}

#carouselExampleFade{
    width: 600px;
    height: 300px;
}

.jumbotron{
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-color:#f9b176;
    color: #393a3c;
}

.languages-icon{
    width: 30px;
    height: 27px;
}

.menu-buttons{
    color: #ffffff;
    background-color: #dc3545;
    border-style: none;
}
.menu-buttons:hover{
    background-color: #f15429;
    /* border-style: groove; */
    /* border: 1px groove #ffffff; */
    /* border-color: black; */
    border-color: #dae0e5;
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
    transition: background-color, box-shadow 0.5s;
}

#t-language{
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
}


.logo-menu{
    width: 50px;
    height: 28x;
    

}
.menu-buttons:focus{
 background-color: #6f4640;
 box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
 transition: background-color 2s;
}


